@model IEnumerable<TurmaViewModel>

@{
    ViewData["Title"] = "Turmas";
}

<h1>Turmas</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-left">
                <a asp-action="Criar" class="btn btn-success">
                    <span class="fas fa-plus"></span>
                </a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel panel-default">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TurmaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SalaId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.TurmaId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.SalaId)
                    </td>
                    <td>
                        <a asp-action="Detalhes" asp-route-id="@item.TurmaId" class="btn btn-primary">
                            <span class="fas fa-eye"></span>
                        </a>
                        <a asp-action="Atualizar" asp-route-id="@item.TurmaId" class="btn btn-warning">
                            <span class="fas fa-edit"></span>
                        </a>
                        <a asp-action="Deletar" asp-route-id="@item.TurmaId" class="btn btn-danger">
                            <span class="fas fa-trash-alt"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>